<h4>Welcome <%= current_user.email %>
  <div>
    <%= link_to "New Message", new_message_path %>
  </div>
  <div>
    <% @client.account.messages.list({ }).each do |message| %>
      <%= puts message.body %>
    <%end%>
  </div>
